packages/
.idea/
.vscode/

BoltJwt/bin/
BoltJwt/obj/
!BoltJwt/obj/docker/release.tar

BoltJwt/wwwroot/

# Certificates:
*.key
*.pem
*.srl
*.csr
*.ext
*.pfx
*.crt
*.passphrase

# Local configurations
docker-compose.dev.local.yml
docker-compose.release-test.yml

# sql scripts for testing
db-testing/

# Unit test project
BoltJwtUnitTest/bin
BoltJwtUnitTest/obj

# Gimp project
*.xcf