packages/
.idea/
BoltJwt/bin/*
BoltJwt/obj/*
BoltJwt/wwwroot/*

# Include binaries for docker build automation
!BoltJwt/obj/docker/

# Certificates:
*.key
*.pem
*.srl
*.csr
*.ext
*.pfx
*.crt
*.passphrase

# Local configurations
docker-compose.dev.local.yml

# sql scripts for testing
db-testing/

# Unit test project
BoltJwtUnitTest/bin/*
BoltJwtUnitTest/obj/*

# Gimp project
*.xcf