<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <a (click)="toggleAccordion()">Filters</a>
        </div>
        <div *ngIf="filtersAccordionOpened">
          <!-- Users table server-side filters -->
          <app-data-table-filters
            [filters]="filters">
          </app-data-table-filters>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-bottom: 25px;">
    <div class="col-sm-12">
      <app-data-table
        [pageSize]="8"
        [columnNames]="columnNames"
        [getData]="getDataFunc"
        [select]="onSelectFunc">
      </app-data-table>
    </div>
  </div>
  <div class="row" *ngIf="selectedUser">
    <div class="col-sm-6">
      <!-- User details form -->
      <app-user-details
        [user]="selectedUser"
        (editedUserInfo)="onUserEdit()"
        (deletedUser)="onUserDelete()">
      </app-user-details>
    </div>
    <div class="col-sm-6">
      <div class="animated fadeIn">
        <!-- User authorizations -->
        <app-authorizations-manager
          [entity]="userEntity"
          [entityData]="selectedUser">
        </app-authorizations-manager>
      </div>
    </div>
  </div>
</div>
