<form [formGroup]="form" novalidate (ngSubmit)="saveUserDetails()">
  <div class="card">
    <div class="card-header">
      <strong>User</strong>
      <small>Details</small>
      <button type="button" class="btn btn-sm btn-danger pull-right" (click)="delete()">Delete</button>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" formControlName="name">
          </div>
          <span style="color: red" *ngIf="formErrors.name">{{formErrors.name}}</span>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>Surname</label>
            <input type="text" class="form-control" formControlName="surname">
          </div>
          <span style="color: red" *ngIf="formErrors.surname">{{formErrors.surname}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label>Email</label>
            <input type="text" readonly class="form-control" [value]="user.Email">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" formControlName="username">
          </div>
          <span style="color: red" *ngIf="formErrors.username">{{formErrors.username}}</span>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button [disabled]="form.invalid || !form.dirty"
              [ladda]="isPending"
              type="submit"
              [ngClass]="{'btn-default': form.invalid || !form.dirty, 'btn-primary' : !form.invalid && form.dirty}"
              class="btn btn-sm">
        <i class="fa fa-dot-circle-o"></i> Save
      </button>
    </div>
  </div>
</form>
