<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mx-4">
          <div class="card-body p-4">
            <form [formGroup]="form" novalidate (ngSubmit)="submit()">
              <h1>Password recovery</h1>
              <p class="text-muted">Type the email associated</p>

              <div class="input-group mb-3">
                <span class="input-group-addon"><i class="icon-envelope"></i></span>
                <input type="text" class="form-control" placeholder="Email" formControlName="email">
              </div>
              <span style="color: red" *ngIf="formErrors.email">{{formErrors.email}}</span>

              <button type="submit"
                      [ladda]="isPending"
                      [disabled]="form.invalid || !form.dirty"
                      [ngClass]="{'btn-default': form.invalid || !form.dirty, 'btn-success' : !form.invalid && form.dirty}"
                      class="btn btn-block">
                Send recover email
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
